/* Iphone 12pro */
@media screen and (max-width:400px) {

    .none {
        display: none;
    }

    #events{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: scroll;
    }

    body {
        padding: 0%;
        margin: 0%;
        overflow: hidden;
    }

    .addEvent {
        width: 30px;
        height: 30px;
        background-color: #00ccf9;
        position: absolute;
        right: 0%;
        left: 89%;
        top: 10%;
        border: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .plusBar {
        display: block;
        justify-content: end;
        background-color: black;
        height: 3px;
        width: 20px;

    }

    #rotateBar {
        transform: translateY(-3px) rotate(90deg);
    }

    h1,
    h2 {
        color: #3D3D67;
        text-align: center;
        margin-top: 3%;
        font-size: 2em;
    }


    .eventCard {
        background-color: #9FECEC;
        margin: 10px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    h3 {
        color: rgb(153, 8, 8);
        text-align: center;
        margin: 1px;
    }

    p {
        margin: 5px;
    }

    input[value="Delete"] {
        position: relative;
        left: 70%;
        width: 30%;
        height: 100%;
        background-color: #00BAC6;
        border-radius: 1px;
        color: white;
        border: 0px;
        margin-bottom: 5px;


    }

    input:hover {
        color: #00BAC6;
        background-color: white;
    }

    #addingEvent {
        position: fixed;
        top: 20%;
        display: none;
        width: 100vw;
        flex-direction: column;
        background-color: #9FECEC;
        height: 500px;
    }

    #editingEvent{
        position: fixed;
        top: 20%;
        display: none;
        width: 100vw;
        flex-direction: column;
        background-color: #9FECEC;
        height: 500px;
    }

    input[type="text"] {
        height: 30px;
        margin: 5px;
    }

    input[type="Date"] {
        height: 50px;
        margin: 5px;
    }

    input[placeholder="Description"] {
        height: 150px;
        margin: 5px;
    }

    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 30px;

    }

    #buttons>input {
        background-color: #00BAC6;
        width: 30%;
        height: 100%;
        color: white;
        border: 0px;
    }

    .is-blurred {
        filter: blur(10px);
        -webkit-filter: blur(10px);
    }
}