body {
    padding: 0px;
    margin: 0px;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

p {
    line-height: 20px;
}

a:hover {
    color: azure;
}

#welcome-text{
    font-size: 50%;
    color: #3D3D67;
}

#username-text {
    font-size: 50%;
    margin-top: 20px;
    color: #00BAC6;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 2fr 6fr 1fr;
    grid-template-columns: 10fr;
    height: 100vh;
}

.logout-btn {
    margin: auto;
    position: absolute;
    right: 0px;
    padding: 17px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #cbcbcb;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    height: auto;
  }

.block:hover {
    color: rgb(0, 0, 0);
    background-color: #9FECEC;
}

.logo-image {
    margin: auto;
}

#studentvote-logo {
    width: 100%;
    height: auto;
}

.content-area {
    font-size: 110px;
    margin: auto;
    text-align: center;
}

.dash-area {
    font-size: 10px;
    background-color: #9FECEC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

.dash-function {
    font-size: 35px;
    background-color:bisque;
    border: 2px solid black;
    margin: auto;
}

.foot-area {
    font-size: 30px;
    background-color: #9FECEC;
}

#foot-content {
    padding-left: 15px;
}

.loginbtn{
    margin: 0px;
    width:20%;
    height:15%;
    background-color: #00BAC6;
    border-radius: 10px;
    color:white;
    border: 0px;
}
.loginbtn:hover{
    color:#00BAC6;
    background-color: white;
}

@media (max-width:700px) {
    .grid-container {
        grid-template-rows: 1fr 2fr 6fr 1fr;
        grid-template-columns: 1fr;
    }

    .dash-area {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .dash-function {
        font-size: 25px;
        border: 1px solid black;
    }

    .content-area {
        font-size: 50px;
        grid-template-columns: 1fr;
        margin: auto;
        text-align: center;
    }
    .loginbtn{
        margin: 0px;
        width:50%;
        height:15%;
        background-color: #00BAC6;
        border-radius: 10px;
        color:white;
        border: 0px;
    }
    
}

table {
    width:100%;
    height: auto;
    border: 1px solid;
    text-align: center;
}

td {
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 1px solid;
}
