    body {
        padding: 0px;
        margin: 0px;
        overflow-y: hidden; 
        overflow-x: hidden; 
    }
    
    p {
        line-height: 20px;
    }
    
    #welcome-text{
        color: #3D3D67;
    }

    #username-text {
        color: #00BAC6;
    }

    .grid-container {
        display: grid;
        grid-template-rows: 1fr 2fr 6fr 1fr;
        grid-template-columns: 10fr;
        height: 100vh;
    }
    
    .header {
        background-color: #00CCF9;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .logo-image {
        padding-left: 5px;
        margin: auto;
    }
    
    .hamburger-menu {
        margin: auto;
    }

    #menu {
        font-size: 32px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
    
    .flatIcon {
        width: 25px;
    }

    .hamburgerIcon {
        width: 25px;
    }

    .content-area {
        font-size: 80px;
        margin: auto;
        text-align: center;
    }
    
    .vote-area {
        font-size: 20px;
        background-color: #9FECEC;
        display: grid;
        grid-template-rows: 5fr 5fr;
        grid-gap: 10px;
        padding: 10px;
    }
    
    .voting-poll {
        font-size: 35px;
        background-color:bisque;
        border: 2px solid black;
        margin: auto;
    }
    
    .foot-area {
        padding-left: 15px;
        font-size: 30px;
        background-color: #9FECEC;
    }

    @media (max-width:700px) {
        .grid-container {
            grid-template-rows: 1fr 4fr 4fr 1fr;
            grid-template-columns: 1fr;
        }

        .vote-area {
            grid-template-rows: 2fr 2fr;
            grid-template-columns: 1fr;
        }
    }



